<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <p>
      Name: <%= profile.name %>
    </p>

    <p>
      URL: <%= profile.url %>
    </p>

    <p>
      <%= link_to "Show this profile", profile, class: "btn btn-outline-info" %>
    </p>
  <% end %>
</div>
